
/* Styling for HTML elements */
 body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #ddddba9a;
}

#headshot{
  box-shadow: 0 0 30px #719ECE;
 } 
 
.fit-image{
  width: 100%;
  object-fit: cover;
  height: 515px; /* only if you want fixed height */
  }

.big-font {
  font-size: 40px;
  text-align: center;
}

#sidecolumn_left{
  margin-left: 100;
  text-align: left;
}

p {
  /* margin-right: 100;
  margin-left: 100; */
  text-align: left;
}

body {
  background: #f1f1f1;
}

#main_container{
  background: white;
  border:1px solid black;
  box-shadow: 0 0 30px #719ECE;
}

#drop_down {
  visibility: hidden;
}
.sidetext {
  border:1px solid black;
  box-shadow: 0 0 30px #719ECE;
  padding-left:10px;
}

#sidetitle{
  text-align: center;
}

@media (max-width: 1100px) {

  #other_edu {
    display: none;
  }
  .fit-image{
    height: 475px; /* only if you want fixed height */
    }

  #R {
      display: none;
    }
}

@media (max-width: 950px) {

  #hobbies {
    display: none;
  }

  .fit-image{
    height: 455px; /* only if you want fixed height */
    }

  #D3 {
      display: none;
    }
}